{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/prop-types": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  }
}