{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/prop-types": "warn",
    "react/jsx-one-expression-per-line": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}